.product {
  padding: 120px 0 60px;
  background: #f2f2f2;

  &__media {
    flex-basis: 40%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    border-radius: 8px;
    border: 1px solid #000;

    & > * {
      line-height: initial;
    }
  }

  &__description {
    flex-basis: 60%;
    padding-left: 60px;
  }

  &__description-text {
    margin-bottom: 40px;
    font-size: 20px;
  }

  &__description-container {
    padding-left: 50px;
    max-width: 470px;
  }

  &__description-title {
    margin-bottom: 24px;
  }

  &__description-list {
    padding-left: 0;

    li {
      position: relative;
      margin-bottom: 24px;
      list-style-type: none;
      font-size: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -35px;
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
      }
    }
  }

  &__description-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #000;

    span {
      font-size: 56px;
      font-weight: bold;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    padding: 100px 0;
  }
}
