.btn {
  padding: 13px 60px;
  text-align: center;
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: color, border, background-color 0.3s ease;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  & + .btn {
    margin-left: 130px;
  }
}

.btn_color_black {
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: transparent;
    color: #000;
  }
}

.btn_type_basket {
  position: fixed;
  bottom: 170px;
  right: -70px;
  transform: rotate(-90deg);
}

.btn_type_arrow {
  position: relative;
  padding: 0;
  padding-right: 6px;
  border: none;
  background: transparent;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%) rotate(-45deg);
    right: 0px;
    width: 4px;
    height: 4px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &:hover {
    background: transparent;
  }
}

.btn_type_card {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.btn_width_full {
  width: 100%;
}
