*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color, border-color, opacity 0.3s ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container.flex {
  display: flex;
  flex-wrap: wrap;
}

.container.m-size {
  max-width: 1030px;
}
