.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0;

  .btn {
    margin-left: 10px;
  }

  input[type='text'] {
    margin-left: 150px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    margin-right: 20px;
    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__list-item-link {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    &:hover {
      border-color: #000;
    }
  }
}
