.nav-menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
  }

  &__list-item {
    margin-left: 60px;
    list-style-type: none;

    &:first-child {
      margin-left: 0;
    }
  }

  &__list-link {
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}
.header .nav-menu {
  margin-right: 60px;
}
