.cart {
  background: #f2f2f2;

  &__title {
    width: 100%;
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title_text {
    font-size: 3rem;
  }
}
