.basket-list {
  background: #f2f2f2;
  padding-bottom: 80px;
}

.basket-card {
  display: flex;

  &__image {
    flex-basis: 34%;
  }
  &__image-item {
    width: 100%;
    height: 100%;
  }

  &__description {
    padding: 40px 60px 40px 80px;
    background-color: #000;
    flex-basis: 66%;
  }

  &__description-title {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
  }

  &__description-content {
    font-family: #fff;
    color: #fff;
    margin-bottom: 40px;
  }

  &__description-button {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  &__description-button-content {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    margin-left: 5px;
  }

  &__description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description-link-action {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
  }

  &__description-amount {
    width: 215px;
    height: 80px;
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #000;
  }
  &__description-amount-add {
    cursor: pointer;
  }
  &__description-amount-subtract {
    cursor: pointer;
  }
}

.basket-card_list {
  margin-bottom: 70px;

  &:last-child {
    margin-bottom: 0;
  }
}
