.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 70px;
}
.socials-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 0 12px;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;

  &:hover {
    opacity: 0.7;
  }
}
